* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  background: #101010;
  color: white;
  font-family: 'Inter var', sans-serif;
}

.clock {
  position: absolute;
  top: 60px;
  left: 60px;
  font-weight: 200;
  font-size: 5em;
  font-variant-numeric: tabular-nums;
  letter-spacing: -5px;
}

/* --------------- SPEEDOMETER --------------- */

.speed {
  position: fixed;
  bottom: 40px;
  left: 20px;
  font-size: 2.5em;
  font-weight: 200;
  font-variant-numeric: tabular-nums;
  letter-spacing: -2px;
}

.speed span {
  font-weight: 600;
  font-size: 1.5em;
  letter-spacing: -5px;
}

.speed-gauge {
  position: relative;
}

.speed-foreground {
  position: absolute;
  width: 200px;
}

.speed-background {
  position: absolute;
  width: 200px;
}

.speed-text {
  margin-top: -40px;
}

/* --------------- CONTROLS --------------- */

.controls {
  position: fixed;
  bottom: 40px;
  right: 20px;
}

.controls button {
  margin-left: 8px;
}

.controls .reset-btn {
  display: none;
}

.controls > .popup {
  position: fixed;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  transform: translateY(600px);
}

.controls > .popup.open {
  opacity: 1;
  transform: translateY(0);
}

.popup-close {
  position: absolute;
  top: 0;
  right: 0;
}

.popup-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3em;
  background: rgba(0, 0, 0, 0.8);
}

.popup-item {
  display: flex;
  justify-content: space-between;
  width: 250px;
  margin: 0em 0;
}

.popup-item-keys {
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup-item-key {
  display: inline-block;
  font-size: 0.7em;
  min-width: 24px;
  border: 1px solid transparent;
  border-bottom: 3px solid #a0a0a0;
  border-radius: 3px;
  padding: 2px 5px;
  margin: 2px;

  background: white;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  min-width: 32px;
  height: 32px;
  color: inherit;
  border: none;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  background: white;
  color: black;
}

.fullscreen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 1s;
  z-index: 9999;
}

.stack {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: #606060;
}
.keys {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: flex-start;
  color: #606060;
}

.bg {
  background: #101010;
}

.fullscreen > div > a {
  text-decoration: none;
  transition: all 1s;
}

.fullscreen.notready > div > a {
  cursor: auto;
  color: #606060;
}

.fullscreen.ready > div > a {
  cursor: pointer;
  color: white;
}

.fullscreen.clicked {
  pointer-events: none;
  opacity: 0;
}

/* --------------- MOBILE CONTROLS --------------- */

.mobile-controls {
  position: fixed;
  bottom: 30px;
  left: 0;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mobile-controls button {
  background: none;
  color: rgba(255, 255, 255, 0.3);
  width: 5rem;
  height: auto;
  transition: transform 0.2s ease-in-out;
}
.mobile-controls button:active {
  transform: scale(0.9);
}
.mobile-controls button svg {
  pointer-events: none;
  touch-action: none;
}
.mobile-controls .left-turn,
.mobile-controls .right-turn {
  user-select: none;
}
.mobile-controls .backward {
  width: 6rem;
}

.controls-container {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}

/* --------------- FOOTER --------------- */

.pmndrs-menu {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  color: #808080;
  padding: 40px;
  pointer-events: none;
  justify-content: center;
  align-items: flex-end;
  flex-direction: row;
  font-size: 10px;
  line-height: 1.5em;
}

.pmndrs-menu.left {
  justify-content: flex-start;
}

.pmndrs-menu.right {
  justify-content: flex-end;
}

.pmndrs-menu > div {
  word-wrap: none;
  word-break: none;
  white-space: pre;
  padding-left: 25px;
  padding-right: 25px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

.pmndrs-menu > div b {
  font-weight: 600;
  color: #b0b0b0;
}

.pmndrs-menu a {
  pointer-events: all;
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

.pmndrs-menu a:hover {
  text-decoration: underline;
  color: inherit;
}


@media (max-width: 768px) and (max-aspect-ratio: 13/9) {
  .controls-container {
    gap: 0;
  }
}

@media (max-width: 960px) and (min-aspect-ratio: 13/9) {
  .stack {
    align-items: center;
    padding-bottom: 4rem;
  }
  .keys {
    grid-template-columns: 1fr 1fr;
    column-gap: 1rem;
  }

  .mobile-controls {
    padding: 0 1rem;
  }

  .controls {
    bottom: initial;
    top: 30px;
    right: 30px;
  }

  .popup-btn {
    display: none;
  }
  .speed {
    bottom: initial;
    top: 40px;
    left: 30px;
  }
}

@media (max-width: 767px) and (max-aspect-ratio: 13/9) {
  .pmndrs-menu {
    flex-wrap: wrap;
    gap: 0.5rem 1.25rem;
  }
  .pmndrs-menu > div {
    padding: 0;
  }
}

/* --------------- MOBILE STYLES --------------- */

.speed.is-mobile {
  bottom: unset;
  top: 40px;
}

.controls.is-mobile {
  bottom: unset;
  top: 40px;
}

.is-mobile .reset-btn {
  display: block;
}
.is-mobile .popup-btn {
  display: none;
}

@media (min-width: 768px) {
  .speed {
    bottom: 60px;
    left: 60px;
  }
  .controls {
    bottom: 60px;
    right: 60px;
  }
  .speed.is-mobile {
    top: 60px;
    right: 60px;
  }

  .controls.is-mobile {
    top: 60px;
    right: 60px;
  }
}
.nosound {
  position: absolute;
  top: 20px;
  right: 20px;
  height: 24px;
  width: 24px;
  background: url(./textures/no_sound.png) no-repeat;
  background-size: 24px 24px;
  opacity: 1;
  animation: hideSoundIcon 3s forwards;
}

@keyframes hideSoundIcon {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@-webkit-keyframes hideSoundIcon {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
