@import url('https://rsms.me/inter/inter.css');

* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: #101010;
  color: white;
  font-family: 'Inter var', sans-serif;
}

/* --------------- SPEEDOMETER --------------- */

.speed {
  position: absolute;
  bottom: 60px;
  left: 60px;
  font-size: 4em;
  font-weight: 200;
  font-variant-numeric: tabular-nums;
  letter-spacing: -5px;
}

.speed > span {
  font-weight: 600;
  font-size: 1.5em;
}

/* --------------- CONTROLS --------------- */

.controls {
  position: absolute;
  bottom: 60px;
  right: 60px;
}

.controls > .popup {
  position: fixed;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  transform: translateY(600px);
}

.controls > .popup.open {
  opacity: 1;
  transform: translateY(0);
  
}

.popup-close {
  position: absolute;
  top: 0;
  right: 0;
}

.popup-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3em;
  background: rgba(0, 0, 0, 0.8);
}

.popup-item {
  display: flex;
  justify-content: space-between;
  width: 200px;
  margin: 0em 0;
}

button {
  width: 32px;
  height: 32px;
	color: inherit;
	border: none;
	font: inherit;
	cursor: pointer;
	outline: inherit;
  background: white;
  color: black;
}